<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ url_for('static',filename = 'favicon.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static',filename = 'favicon.ico')}}" type="image/x-icon">
    {% block head %}
    <title>yhxblog</title>
    <link rel="stylesheet" href="../static/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="../static/css/style.css" rel="stylesheet">
    {% endblock %}
</head>
<body class="h-100">
    <header>
    <nav class="navbar navbar-expand-md bg-white border-bottom box-shadow">
      <a class=" mb-0 font-weight-bold h2" href="{{url_for('user.index')}}">YHX-BLOG</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsSum" aria-controls="navbarsSum" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>

      <div class="collapse navbar-collapse ml-5" id="navbarsSum">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-dark" href="{{ url_for('user.index')}}">首页</a>
            </li>
             {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{ url_for('user.usering',username=current_user.username) }}">个人中心</a>
            </li>
              {% endif %}
             {% if current_user.can(Permission.WRITE_ARTICLES) %}
              <li class="nav-item">
                  <a class=" nav-link text-dark" href="{{url_for('user.manage_post',username=current_user.username)}}">博文管理</a>
              </li>
              {% endif %}
              {% if current_user.can(Permission.MODERATE_COMMENTS) %}
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{url_for('user.moderate')}}">评论管理</a>
            </li>
              {% endif %}
              {% if current_user.is_administrator() %}
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{url_for('admin.manage_user')}}">用户管理</a>
            </li>
              {% endif %}
        </ul>
             <ul class="nav mr-5">
                  {% if current_user.is_authenticated %}
                <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{ current_user.gravatar(size=18) }}">{{current_user.username}}</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item text-muted" href="{{url_for('auth.change_password')}}">修改密码</a>
              <a class="dropdown-item text-muted" href="{{url_for('auth.change_email_no')}}">修改邮箱</a>
              <a class="dropdown-item text-muted" href="{{url_for('auth.logout')}}">登出</a>
            </div>
          </li>
            {% else%}
            <li><a class="btn btn-outline-secondary" href="{{url_for('auth.login')}}">登录</a></li>
            {% endif %}
              </ul>
      </div>
    </nav>
    </header>
        <main role="main" class="no-gutters h-100" style="overflow-x: hidden">
        <div class="row h-100 ">
            <div class="col-sm-2 col-md-2 d-flex align-items-center justify-content-start">
                <div class="accordion card d-flex flex-md-row h-50 box-shadow-card" id="accordion">
                    <div id="collapseOne" class="collapse show my-auto" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body text-center"   style=" margin-top: -6rem;">
                            <img class="rounded-circle mb-4" style="height: 70px;width: 70px;" alt="头像" src="../static/img/bloger.jpg">
                            <h5 class="card-title">雨含香</h5>
                            <h6 class="card-subtitle text-muted mb-2">--A rookie newbie on the Way</h6>
                            <p class="card-text">脚踏实地真好</p>
                            <a href="https://github.com/yhx9527" class="card-link"> <i class="fab fa-github"></i>github</a>
                            <a href=""class="card-link"><i class="fas fa-at"></i>gmail</a>
                        </div>
                    </div>
                    <button class="btn btn-outline-secondary"style="border-radius: 0px;" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"aria-controls="collapseOne">
                        <p class="w-25"style="writing-mode: vertical-rl;">了解一下博主</p>
                    </button>

                </div>
            </div>
            <div class="col-10 col-sm-6 col-md-6 offset-sm-1 offset-md-1">
                {% block content %}
                 {% for message in get_flashed_messages() %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert"aria-label="Close"><span aria-hidden="true"> &times;</span></button>
                </div>
                {% endfor %}

    <div class="modal fade" id="confirmEmailDialog" tabindex="-1" role="dialog" aria-labelledby="confirmEmailTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmEmailTitle">邮箱认证通知</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    为了有更好的体验，请您尽快进行邮箱认证，认证之后你将可以收藏文章，回复评论...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <a href="#" class="btn btn-primary" data-dismiss="modal">进行认证</a>
                </div>
            </div>
        </div>
    </div>
                {% endblock %}


            </div>
            <div class="col-2 col-sm-3 col-md-3">

            </div>
        </div>
        </main>
    <!--footer class=" footer ">
        <div class="container mx-auto">
          <p style="text-align: center;">Copyright @2018 YHX-BLOG by<a href="https://github.com/yhx9527">雨含香</a></p>
        </div>
    </footer-->
    <footer class="blog-footer">
      <p style="text-align: center;">Copyright @2018 YHX-BLOG by<a href="https://github.com/yhx9527"> 雨含香</a></p>
      <p style="text-align: center;">
        <a href="#">Back to top</a>
      </p>
    </footer>



    {% block jsfile %}
    <script src="../static/js/lib/jquery-3.3.1.min.js"></script>
    <script src="../static/js/lib/popper.min.js"></script>
    <script src="../static/js/lib/bootstrap.min.js"></script>
    {{moment.include_moment()}}
    <script src="../static/js/blog.js"></script>
    {% endblock %}

</body>
</html>