{% extends "base.html" %}

{% block content %}
{{super()}}
<div class="container d-flex align-items-end  mb-5 border-bottom"style="height:15%;">
    <h2 class=" font-italic">{% if not admin %}Edit Profile{% else %} <p class="text-danger">Edit Profile[Admin]</p>{% endif %}</h2>
</div>
<form action method="post" class="w-50">
    {{ form.hidden_tag()}}
    {% if admin %}
    <div class="form-group">
        {{ form.email.label()}}
        {{form.email(class='form-control')}}
    </div>
      <div class="form-group">
        {{ form.username.label()}}
        {{form.username(class='form-control')}}
    </div>
      <div class="form-group custom-control custom-checkbox">
        {{form.confirmed(class='custom-control-input')}}
           {{ form.confirmed.label(class='custom-control-label')}}
    </div>
    <div class="form-group">
            {{form.role(class='custom-select')}}
    </div>
    <div class="form-group">
        {{ form.name.label()}}
        {{form.name(class='form-control')}}
    </div>
{% endif %}
    <div class="form-group">
        {{ form.location.label()}}
        {{form.location(class='form-control')}}
    </div>
    <div class="form-group">
        {{ form.about_me.label()}}
        {{form.about_me(class='form-control')}}
    </div>
    {{form.submit(class='btn btn-primary')}}
</form>
{% endblock %}