{% extends 'base.html' %}
{% import "_macros.html" as macros%}

{% block content %}
{{super()}}
<ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link {% if tab==1 %}active{% endif %}" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="{% if tab==1 %}true{% else %}false{% endif %}">撰写博客</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if tab==2 %}active{% endif %}" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="{% if tab==2 %}true{% else %}false{% endif %}">管理博客</a>
  </li>
</ul>
<div class="tab-content mt-5" id="myTabContent">
  <div class="tab-pane fade {% if tab==1 %}show active{% endif %}" id="home" role="tabpanel" aria-labelledby="home-tab">
    {% if form %}
      <form method="post" action>
          {{form.hidden_tag()}}
          <div class="form-group">
              {{form.title.label()}}
              {{form.title(class='form-control')}}
          </div>
          <div class="form-group">
              {{form.body.label()}}
              <div class="d-flex flex-column align-content-between">
                    {{form.body(class='form-control mb-2 blogtext')}}
              </div>
          </div>
          {{form.submit(class='btn btn-primary')}}
      </form>
      {% endif %}
  </div>
   <div class="tab-pane fade {% if tab==2 %}show active{% endif %}" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <table class="table table-hover ">
          <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">title</th>
                <th scope="col">read</th>
                <th scope="col">comments</th>
                <th scope="col">del</th>
                <th scope="col">edit</th>
                <th scope="col">issue</th>
            </tr>
          </thead>
          {% if posts %}
          <tbody>
            {% for post in posts%}
            <tr class="{% if post.author_id != current_user.id %} table-warning {% endif %}">
                <th scope="row"><a href="{{url_for('user.post',id=post.id)}}">{{post.id}}</a></th>
                <td>{{post.title}}</td>
                <td>{{post.read}}</td>
                <td>{{post.comments.count()}}</td>
                <td><a class="btn btn-danger btn-sm" href="{{url_for('user.del_post',id=post.id)}}"><i class="fas fa-trash"></i>删除</a></td>
                <td><a class="btn btn-warning btn-sm" href="{{url_for('user.del_post',id=post.id)}}"><i class="fas fa-feather-alt"></i>编辑</a></td>
                {% if post.author_id == current_user.id %}
                <td><a class="btn {% if post.if_post %}btn-secondary{%else%}btn-primary{% endif %} btn-sm" href="{{url_for('user.issue_post',id=post.id)}}">
                    {% if post.if_post %}
                    <i class="fas fa-paper-plane fa-rotate-180"></i>收回
                    {% else %}<i class="fas fa-paper-plane"></i>发布{% endif %}</a></td>
                {% else %}
                    {% if current_user.can(Permission.ADMINISTER) %}
                     <td><a class="btn {% if post.if_check %}btn-secondary{%else%}btn-primary{% endif %} btn-sm" href="{{url_for('user.check_post',id=post.id)}}">
                    {% if post.if_check %}
                    <i class="fas fa-times-circle"></i>下架
                    {% else %}<i class="fas fa-check-square"></i>通过{% endif %}</a></td>
                    {% endif %}
                {% endif %}
            </tr>
            {% endfor %}
          </tbody>
          {% endif %}
      </table>
      {% if pagination %}
        <nav class="mt-5" aria-label="Page navigation">
        {{ macros.pagination_widget(pagination,'user.manage_post',username=user.username,tab=2) }}
        </nav>
        {% endif %}
  </div>
</div>
{% endblock %}
 {% block jsfile %}
    {{ super() }}
    {{pagedown.include_pagedown()}}
 {% endblock %}