{% extends 'base.html' %}

{% import "_macros.html" as macros %}

{% block content %}
{{super()}}
<div class="d-flex mt-5 h-25 flex-row">
    <img class="rounded img-fluid" src="{{ user.gravatar(size=256) }}" alt="头像">
<div class="ml-5">
    <div class="row">
    <h1>{{user.username}}</h1>
      <div class="ml-3 mt-1">
    {% if current_user.can(Permission.FOLLOW) and user !=current_user %}
        {% if not current_user.is_following(user) %}
        <a href="{{ url_for('.follow',username = user.username) }}" class="btn btn-outline-primary btn-sm mr-2">关注</a>
        {% else %}
        <a href="{{ url_for('.unfollow',username = user.username) }}" class="btn btn-outline-warning btn-sm mr-2">取关</a>
        {% endif %}
    {% endif %}
      </div>
    </div>
    <div style="margin-top: -10px;">
    <a href="{{ url_for('.followers',username=user.username) }}" class="text-warning">Fans:<span class="badge badge-light">{{user.followers.count()}}</span></a>
    <a href="{{ url_for('.followed_by',username=user.username) }}" class="text-info ml-1">Follows:<span class="badge badge-light">{{user.followed.count()}}</span></a>
    </div>
    <a href="Email:{{ user.email }}"><span class="badge badge-pill badge-light mr-0">邮箱</span> {{ user.email }}</a><br>
    {% if user.location %}
    <a href="http://maps.google.com/?q={{ user.location }}">
        <span class="badge badge-pill badge-light mr-0">所在</span> {{ user.location }}
    </a><br>
    {% endif %}
    {% if user.about_me %}<div><span class="badge badge-pill badge-light mr-0">简介</span> {{ user.about_me }}</div>{% endif %}
    <p>
        <span class="badge badge-pill badge-light mr-0">注册日期</span>{{ moment(user.member_since).format('L') }}.
        <span class="badge badge-pill badge-light mr-0">最近活跃</span>{{moment(user.last_seen).fromNow() }}.
    </p>
    <div class="mb-1">
        {% if user == current_user %}
        <a class="btn btn-primary mr-2" href="{{ url_for('user.edit_profile') }}">编辑资料</a>
        {% endif %}
        {% if current_user.is_administrator() %}
        <a class="ml-2 btn btn-danger" href="{{ url_for('user.edit_profile_admin', id=user.id) }}">Edit Profile [Admin]</a>
        {% endif %}
    </div>

        {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
    | <span class="label label-default">Follows you</span>
    {% endif %}

</div>
</div>
<ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link {% if tab==1 %}active{% endif %}" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
       aria-selected="{% if tab==1 %}true{% else %}false{% endif %}">收藏文章</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if tab==2 %}active{% endif %}" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
       aria-selected="{% if tab==2 %}true{% else %}false{% endif %}">历史评论</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade {% if tab ==1 %}show active{% endif %}" id="home" role="tabpanel" aria-labelledby="home-tab">
        <table class="table mt-5 table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">post_id</th>
                    <th scope="col">post_title</th>
                </tr>
            </thead>
            <tbody>
                {% for collect in user.collects %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td><a href="{{url_for('user.post',id=collect.id)}}" >{{collect.id}}</a></td>
                    <td>{{collect.title}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
  </div>
  <div class="tab-pane fade {% if tab ==2 %}show active{% endif %}" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <table class="table mt-5 table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">blog_id</th>
                    <th scope="col">content</th>
                    <th scope="col">date</th>
                    <th scope="col">like</th>
                    {% if user.id == current_user.id or current_user.can(Permission.MODERATE_COMMENTS) %}
                    <th scope="col">del</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for comment in user.comments %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td><a href="{{url_for('user.post',id=comment.post_id)}}"> {{comment.post_id}}</a></td>
                    <td>{{comment.body_html | safe}}</td>
                    <td>{{moment(comment.timestamp).format('YYYY/M/D')}}</td>
                    <td>点赞数</td>
                    {% if user.id == current_user.id or current_user.can(Permission.MODERATE_COMMENTS) %}
                    <td><a href="{{url_for('user.del_comment',id=comment.id,tab=2)}}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i>删除</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
  </div>
</div>

{% endblock %}